.h0{
    text-align: left;
    padding-right: 10%;
    padding-top: 5%;
}
.homePageDiv1{
    background-color: #D9D9D9;

    padding: 2em;
    margin-bottom: 2em;

    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main{grid-area: main;}

.accInfo{
    text-align: center;
}
button{
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
button.primary{
    background-color: lightgrey;
    font-size: 18px;
}
button.secondary{
    background-color: lightgrey;
    font-size: 18px;
    margin-top: 100%;
}