h1{
    text-align: center;
}
.h1{grid-area: h1;}
.main{grid-area: main;}
.right{grid-area:aside;}
.grid{
	display: grid;
	grid-gap: 2rem;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
				"h1 h1"
				"main aside";

    width: calc(100% - 10rem);
    float: right;
}

.homePageDiv{
    background-color: #D9D9D9;

    padding: 2em;
    margin-bottom: 2em;

    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

