.reUNPW{
    font-size: 32px;
    text-align: left;
    margin-left: -100px;
}

.box1{
    background-color: #fffdfd ;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 3px #00000040;
    height: 550px;
    width: 700px;
    margin-top: -10px;
    margin-left: -120px;
}
.form{
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.forget-input{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
.forgetIntro{
    margin-right: -50px;
    margin-top: 80px;
    display: grid;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.forgetInput{
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.memorableParent, .rememberParent{
    margin-top: 20px;
}
